.userPage {
    display: flex;
    flex-direction: column;
}

.userPage__title {
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    margin-top: 50px;
}

.userPage__block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.block__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 265px;
    width: 370px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.list__item {
    color: #1A2749;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
    text-decoration: none;
}

.list__item:last-child {
    padding-bottom: 0;
}

.block__info {
    width: 770px;
    padding: 50px 50px 65px 50px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.block__info-title {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.block__info-wrapp {
    display: flex;
    justify-content: space-between;
}

.block__info-right {
    display: flex;
    flex-direction: column;
}

.userPage__change-password {
    align-self: end;
    margin-top: 60px;
    color: #2156BD;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.userPage__btn {
    margin: 30px 0;
    align-self: end;
}


.orders-item::before {
    content: '';
    padding: 2px 45px 2px 0;
    background-image: url(./img/Vector.svg);
    background-repeat: no-repeat;
}

.delivery-item::before {
    content: '';
    padding-right: 45px;
    background-image: url(./img/Rectangle\ 2.2.svg);
    background-repeat: no-repeat;
}

.contactInfo-item::before {
    content: '';
    padding: 2px 45px 2px 0;
    background-image: url(./img/Union.svg);
    background-repeat: no-repeat;
}

.active-item {
    color: #2156BD;
}

.active-item::before {
    content: '';
    color: #2156BD;
}

.headers {
    display: flex;
    width: 660px;
    margin-top: 40px;
    color: #383838;
    font-size: 16px;
    font-weight: 600;
}

.headers div:nth-child(1) {
    width: 20%;
    display: flex;
    justify-content: center;
}

.headers div:nth-child(2) {
    width: 45%;
}

.headers div:nth-child(3) {
    width: 15%;
    display: flex;
    justify-content: center;
}

.headers div:nth-child(4) {
    width: 20%;
    display: flex;
    justify-content: center;
}

.line {
    margin-top: 15px;
    min-width: 660px;
    height: 1px;
    background-color: #D3D3D3;
}

.orders__product-item {
    display: flex;
    width: 660px;
    margin-top: 20px;
    gap: 5px;
}

.order-number {
    width: 20%;
}

.orders_nameBlock {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}

.order-name{
    margin-top: 10px;
}

.order-date {
    width: 15%;
    display: flex;
    justify-content: center;
}

.order-price {
    width: 20%;
    display: flex;
    justify-content: center;
}

.dropdown-title {
    margin: 15px 0 10px 0;
}